:root {
  --second: 1s;
  --minute: calc(var(--second) * 70);
}

@keyframes tick {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
body {
  background: lightskyblue;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

#ground {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75vmin;
  height: 80vmin;
  background: green;
  overflow: hidden;

}

#road {
  width: 31vmin;
  height: 100%;
  background: #333;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15vmin);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: #afaf03 solid 2px;
}

@keyframes moveLines {
  from { transform: translate(0, 0); }
  to { transform: translate(0, 70%); }
}

#road::before {
  content: "";
  position: absolute;
  height: 1000%;
  top: -900%;
  width: calc(50% - 5px);
  border-right: 10px dashed yellow;
  pointer-events: none;
  animation: moveLines 20s linear infinite;
}

.car {
  position: absolute;
  width: 6vmin;
  height: 8vmin;
  background: #001589;
  border-radius: 0.75vmin;
  top: 67.5vmin;
  left: 12vmin;
  box-shadow: 0 -1vmin lightskyblue, 0 -1.1vmin black, 0 1vmin lightskyblue,0 1.1vmin black, 0 -4.5vmin 0 1vmin #0e1acd, 0 2.5vmin 0 1vmin #1b2c86, 0 0 0 1vmin #183fdb, 4vmin -4.5vmin 0 -2.2vmin #080808, -4vmin -4.5vmin 0 -2.2vmin, 4vmin 3.5vmin 0 -2.2vmin #080808, -4vmin 3.5vmin 0 -2.2vmin, 2vmin -7.8vmin 0 -2.2vmin white, -2vmin -7.8vmin 0 -2.2vmin white, 2vmin 5.9vmin 0 -2.2vmin red, -2vmin 5.9vmin 0 -2.2vmin red;
  pointer-events: none;
  transition: all 0.5s;
}

.car.red {
  background: #700;
  box-shadow: 0 -1vmin lightskyblue, 0 -1.1vmin black, 0 1vmin lightskyblue,0 1.1vmin black, 0 -4.5vmin 0 1vmin #900, 0 2.5vmin 0 1vmin #900, 0 0 0 1vmin #900, 4vmin -4.5vmin 0 -2.2vmin #080808, -4vmin -4.5vmin 0 -2.2vmin, 4vmin 3.5vmin 0 -2.2vmin #080808, -4vmin 3.5vmin 0 -2.2vmin, 2vmin -7.8vmin 0 -2.2vmin white, -2vmin -7.8vmin 0 -2.2vmin white, 2vmin 5.9vmin 0 -2.2vmin red, -2vmin 5.9vmin 0 -2.2vmin red;
}

#section-0:hover ~ #car {
  top: 7.5vmin;
  left: 2vmin;
}

#section-1:hover ~ #car {
  top: 7.5vmin;
  left: 12vmin;
}

#section-2:hover ~ #car {
  top: 7.5vmin;
  left: 22vmin;
}

#section-3:hover ~ #car {
  top: 27.5vmin;
  left: 2vmin;
}

#section-4:hover ~ #car {
  top: 27.5vmin;
  left: 12vmin;
}

#section-5:hover ~ #car {
  top: 27.5vmin;
  left: 22vmin;
}

#section-6:hover ~ #car {
  top: 47.5vmin;
  left: 2vmin;
}

#section-7:hover ~ #car {
  top: 47.5vmin;
  left: 12vmin;
}

#section-8:hover ~ #car {
  top: 47.5vmin;
  left: 22vmin;
}

#section-9:hover ~ #car {
  top: 67.5vmin;
  left: 2vmin;
}

#section-10:hover ~ #car {
  top: 67.5vmin;
  left: 12vmin;
}

#section-11:hover ~ #car {
  top: 67.5vmin;
  left: 22vmin;
}

@keyframes obstacleMove {
  from { top: -100vmin; }
  to { top: 200vmin; }
}

.obstacle {
  position: absolute;
  animation: obstacleMove 10s infinite;
  pointer-events: auto;
  cursor: pointer;
  width: 10vmin;
  height: 20vmin;
}

.obstacle .car {
  top: 7.5vmin;
  left: 2vmin;
}

#obstacle-0 { 
  animation-duration: 30s;
  animation-delay: 0s;
}

#obstacle-1 { 
  left: 10vmin;
  animation-duration: 40s;
  animation-delay: 0s;
}

#obstacle-2 {
  left: 20vmin;
  animation-duration: 20s;
  animation-delay: 0s;
}

#obstacle-3 {
  left: 0vmin;
  animation-duration: 30s;
  animation-delay: -10s;
}

#obstacle-4 {
  left: 10vmin;
  animation-duration: 30s;
  animation-delay: -3s;
}

#obstacle-5 {
  left: 20vmin;
  animation-duration: 50s;
  animation-delay: -20s;
}

#obstacle-6 {
  left: 0vmin;
  animation-duration: 40s;
  animation-delay: -15s;
}

#obstacle-7 {
  left: 10vmin;
  animation-duration: 50s;
  animation-delay: -35s;
}

#obstacle-8 {
  left: 20vmin;
  animation-duration: 25s;
  animation-delay: 0s;
}

#game-over {
  position: absolute;
  top: 0;
  left: -25vmin;
  width: 80vmin;
  height: 101%;
  background: rgba(255,255,255,0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
  box-sizing: border-box;
  text-align: center;
  display: none;
}

.retry {
  margin-top: 45px;
  color: #fff;
  padding: 8px 16px;
  background-color: green;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
.retry:hover {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.94);
}

#game-over h1{
  margin-top: -25px;
  font-size: 58px;
  color: red;
  font-family: sans-serif;
  font-weight: bolder;
  font-stretch: expanded;
}

#ground:hover #road:not(:hover) #game-over,
.obstacle:hover ~ #game-over,
#game-over:hover {
  display: flex;
}
.Board {
  width: 150px;
  height: 50px;
  background-color: var(--grey);
  margin: 0 auto;
  position: relative;
  display: flex;
}

.section {
  position: relative;
  width: calc(100% / 3);
  overflow: hidden;
}

.section > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1{
  margin-top:10px;
}

.section > ul > li {
  width: 58px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  padding-top: 10px;
}

.score > ul {
  animation: tick steps(100) var(--minute) infinite;
}

